{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:'RideBuddy Admin' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:'RideBuddy Administration' }}</a></h1>
{% endblock %}

{% block nav-global %}
    {{ block.super }}
    {% if user.is_authenticated %}
        {% if 'Analytics' in user.groups.all|stringformat:"s" or 'analytics' in user.groups.all|stringformat:"s" or user.is_superuser %}
        <div style="margin-left: 20px; display: inline-block;">
            <a href="/analytics/dashboard/" style="
                background-color: #79aec8; 
                color: white; 
                padding: 6px 12px; 
                border-radius: 4px; 
                font-weight: bold; 
                text-decoration: none;
                margin-top: 5px;
                display:flex;">
                📊 View Analytics Dashboard
            </a>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
