# =========================
# Python / Django
# =========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
tests/

# Translations
*.mo
*.pot

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media / static / uploaded files
media/
staticfiles/
documents/


# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Pipfile.lock  # optional depending on collaboration

# poetry
# poetry.lock
# poetry.toml

# pdm
.pdm-python
.pdm-build/
# pdm.lock
# pdm.toml

# pixi
.pixi

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder / Rope
.spyderproject
.spyproject
.ropeproject

# mkdocs
/site

# mypy / Pyre / pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug
cython_debug/

# IDEs
.vscode/
.idea/

# Ruff
.ruff_cache/

# PyPI config
.pypirc

# AI-powered tools
.cursorignore
.cursorindexingignore
.abstra/
marimo/_static/
marimo/_lsp/
__marimo__/

# =========================
# Optional: OS files
# =========================
.DS_Store
Thumbs.db