asgiref==3.11.1
Django==6.0.2
joblib==1.5.3
numpy==2.4.2
pillow==12.1.1
python-dotenv==1.2.1
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2025.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
whitenoise
